# Runtime data
*.pid
*.seed
*.pid.lock

# local IDE config
.vscode/

# Dependency directories
node_modules/

# compiled typescript
# bin

# Optional npm cache directory
.npm

# don't upload environment vars
.env

# don't upload test / coverage stuff
.vscode
coverage
.scannerwork
.sonarlint
.nyc_output
test

